snippet for "forl"
for (let i = $1; i < $2; i++) {
	$3
}
endsnippet

snippet log "console.log"
console.log($1);
endsnippet

snippet fun "function"
function $1($2): $3 {
  $4
}
endsnippet

snippet class "export class"
export class $1 {
  $2
}
endsnippet

snippet eif "export interface"
export interface $1 {
  $2
}
endsnippet

snippet forof "for of..."
for (const $1 of $2) {
  $3
}
endsnippet
