snippet for "forl"
for (let i = $1; i < $2; i++) {
	$3
}
endsnippet

snippet log "console.log"
console.log($1);
endsnippet

snippet fun "function"
function $1($2): $3 {
  $4
}
endsnippet

snippet imf "import from"
import { $2 } from '$1';
endsnippet
